h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @media #{$medium-up} {
  }
  @media #{$large-up} {
  }
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

.title-bar {
  box-shadow: 0 0 10px rgba(138, 138, 138, 0.3);

  .title-bar-title {
    font-weight: 800;
  }
}

//$header-bg: #074E68;
$header-bg: #fefefe;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 1.25rem;
$subnav-link-opacity: 0.15;
$header-height: 2.5rem;
$transition: all .35s ease-in-out;

.header {
  text-align: center;
  background: $header-bg;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: $header-height;
  padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);

  .headline {
    color: #ffe;
  }
}

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;

  li {
    float: none;
    display: inline-block;

    a {
      padding: $subnav-link-padding 1rem;
      font-size: $subnav-font-size;
      //color: #000;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: $transition;
      border-bottom: 2px solid $body-background;

      //background: rgba(250,250,250,$subnav-link-opacity);

    &:hover {
      /*background: rgba(250,250,250,$subnav-link-opacity);
      transition: $transition;
      */
      border-bottom: 2px solid;
    }

    &.about {
      color: #007cbf;

      &.is-active {
        border-bottom: 2px solid;
      }

    }

    &.games {
      color: #940080;

      &.is-active {
        border-bottom: 2px solid;
      }

    }

    &.bragzone {
      color: #ff8e00;

      &.is-active {
        border-bottom: 2px solid;
      }

    }
  }

}
}

.content {
  padding: 60px 50px 0 50px;
}

.profile-card {
  padding: 1rem;
  margin: 2rem 0;
  background-color: #fefefe;
  img {
    width: 10rem;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #888888;
  }
  .profile-info {
    padding: 1rem;
    h4 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      text-align: center;
    }
    .inline-list {
      text-align: center;
      margin-bottom: 1rem;
      li {
        float: none;
        display: inline-block;
      }
      i.fi-social-facebook {
        font-size: 1.5rem;
        color: #3b5998;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-twitter {
        font-size: 1.5rem;
        color: #55acee;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-linkedin {
        font-size: 1.5rem;
        color: #0077b5;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-github {
        font-size: 1.5rem;
        color: #333;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-youtube {
        font-size: 1.5rem;
        color: #cc181e;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
    }
  }
}

.card {
  background: #fff;
  padding: 2.75rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  h3 {
    font-weight: normal;
    margin: 0;
    padding: 0 0 0.5rem 0;
    @media only screen and (max-width: 64em) {
      padding-top: 1rem;
    }
  }
  h6 {
    color: #50b2d0;
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0 0 0.5rem 0;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.2rem;
    margin: 0;
    padding: 0.875rem 0;
    /*
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    */
  }
  .button {
    font-weight: bold;
    color: #2BA6CB;
    background: transparent;
    padding-left: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
}

.row.wide {
  max-width: rem-calc(1200);
}

footer {
  padding-bottom: 20px;
}

// Color used for medium gray UI items within Foundation.
$medium-gray: #cacaca;

// the following variable should be adjusted in the _settings.scss file
// changes the fonts size and circle size
$pagination-font-size: rem-calc(18);

// the following variable should be adjusted in the _settings.scss file
// changes roundness based on font size
$pagination-item-padding: rem-calc(6 15);

.pagination .current {
  border: 0;
  border-radius: 0;
  background: none;
}

.pagination li {
  border: 1px solid $medium-gray;
  border-radius: 50%;
}

.pagination a {
  border-radius: 50%;
}

.date {
  float: right;
}
