<footer class="site-footer row column mtl" role="contentinfo">
  <hr/>
  <div class="medium-4 columns">
    <ul class="menu quiet">
      {% include nav.html %}
    </ul>
  </div>
  <div class="medium-8 columns">
    <ul class="menu quiet copyright align-right">
      <li><a href="https://plus.google.com/{{ site.googleplus }}"><i class="fa fa-google-plus-square"></i></a></li>
      <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="https://www.facebook.com/{{ site.facebook }}"><i class="fa fa-facebook-square"></i></a></li>
    </ul>
  </div>
</footer>
